#displayArea .article .contents .macro_alink {
	color: purple;
}

#displayArea .article .contents .macro_quote {
	padding: 0.25em 0;
	margin: 0.25em 0 0.25em 2em;
	color: #206;
	background-color: #ffc;
	border: dotted 1px #888;
	overflow: auto;
}

