#displayArea .article .contents .macro_alink {
	color: purple;
}

#displayArea .article .contents .macro_quote {
	margin-left: 2em;
	color: #104;
	background-color: #eef;
	border: dotted 1px #888;
}

#displayArea .article .contents .macro_quote .macro_quote_header {
	color: white;
	background-color: #64d;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-left: 1em;
	font-weight: bold;
	cursor: pointer;
}

#displayArea .article .contents .macro_quote .macro_quote_contents {
	overflow: auto;
	padding-left: 0.25em;
}

